 .App {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #A8B2B4;
	

}

.Home {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("./home.jpg");
  width: auto;
  height: 100%;
  padding-top: 17%;
  }

.Title {
	color: #EBEBEB;
	text-align: center;
	font-size:40px;
	/*transform: translate(0%, -1390%);*/
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

    &.insetshadow 
    color: #A8B2B4;
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #4A626C, 
      2px 2px 1px #4A626C;
}

.Nav {

	border-style: #f3f3f3;
	width: 100%;
	list-style-type: none;
    background-color: #4A4A4A;
}

ul {
	display: inline-block;
	list-style-type: none;
    overflow: hidden;
    background-color: #4A4A4A;
    margin-bottom: 20px;
   }

ul.Right {
	margin-left: 780px;
	
}


ul.Left {
}


li {
	color: white;
}


.OurStoryLi {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
	
}

.Products {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}

.SignUp {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}

.LogIn {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: white;
}

.Brain {
	display: inline-block;
	height: 75px;
	width: 105px;

}

.Tagline {
	color: #7C7B7D;	
	margin-left: 30em;
	font-style: italic;
	font-size: 20px;
}

p {
	margin-top: -26px;
}
