.LogIn2{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #EBEBEB;
}

.VRLogIn{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("./VRSignUp.png");
  width: auto;
  height: 100%;
  padding-top: 17%;
}

.Nav4 {

	border-style: #f3f3f3;
	width: 100%;
	list-style-type: none;
    background-color: #4A4A4A;
    margin-top: -229px;

}

ul {
	display: inline-block;
	list-style-type: none;
    overflow: hidden;
    background-color: #4A4A4A;
    margin-bottom: 20px;
   }

ul.Right {
	margin-left: 780px;
	
}


ul.Left {
}


li {
	 color: white;
}


.OurStoryLi {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
	
}

.Products {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}

.SignUp {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}

.LogIn {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: white;
}

.Brain {
	display: inline-block;
	height: 75px;
	width: 105px;

}


.Username{
	height: 40px;
	width: 305px;
	display: block;
	background-color: #4A4A4A;
	border-width: 1px;
	border-bottom: 10px;
	margin: 10px;
	color: white;
	opacity: 100.9;


}

.Password {
height: 40px;
width: 305px;
display: block;
background-color: #4A4A4A;
border-width: 1px;
border-bottom: 10px;
margin: 10px;
color: white;

}

.LogInUser {
	margin: 210px;
	background-color: #5C5C5C;
	height: 300px;
	width: 500px;
	opacity: 0.9;

}

.LogInText{
	color: white;
	font-size: 25px;
	padding: 10px;
}

.LogInUser2{
	padding: -15px;
}

.Submit {
	height: 40px;
	width: 305px;
	display: block;
	margin: 10px;
	font-size: 17px;

	
}

.Facebook {
	background-image: url("./FacebookLogin.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 40px;
	width: 250px;
	display: block;


}